.jumbotron{
    background-image: url(/assets/fatos-bytyqi-Agx5_TLsIf4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 96vmin;
    width: auto
   }