

.jumbotron{
    background-image: url(/assets/fatos-bytyqi-Agx5_TLsIf4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 96vmin;
    width: auto
   }

   .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centeredBottom {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    /* font-family:sans-serif; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-weight:bolder;
    font-size: 4em;
    white-space: nowrap;/*Evitar saltos de línea*/
    overflow: hidden;
    width: 20em;
    animation: keyframes 5s steps(500); 
    -webkit-text-stroke: 2px black;
    color: white;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  h3 {
   
    font-weight:bolder;
    font-size: 3em;
    white-space: nowrap;/*Evitar saltos de línea*/
    overflow: hidden;
    width: 26em;
    animation: keyframes 14s steps(500) infinite; 
    -webkit-text-stroke: 2px black;
    color: #1D828E;
    /* text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
  }

  
  @keyframes keyframes{ 
    
    from{ width: 0px;} 
    
  } 

  .p {
      color: black
  }