<div class="container">
    <div class="row" style="text-align:center">
        <div class="col-sm-12">
            <img src="assets/Jose_CabralCircle.jpg" alt="Avatar" class="avatar">
        </div>
        <div class="col-sm-12 my-5">
            <button type="button" class="btn btn-primary" routerLink="/homePage" routerLinkActive="active">home</button>
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-secondary" routerLink="/aboutPage"
                routerLinkActive="active">about</button>
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-success" routerLink="/portfolioPage"
                routerLinkActive="active">portfolio</button>
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" routerLink="/contactPage"
                routerLinkActive="active">contact</button>
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" routerLink="/resumePage"
                routerLinkActive="active">resume</button>
        </div>
    </div>
</div>