<div class="container">
    <div class="row" style="text-align:center">
        <div class="col-sm-12">
            <img src="assets/Jose_CabralCircle.jpg" alt="Avatar" class="avatar">
        </div>
        <div class="col-sm-12">
            <h2>Jose Cabral</h2>
            <h5>Full Stack Developer</h5>
        </div>
        <hr>

        <!-- <div class="col-sm-4 mt-5">
            <img src="/assets/JC_Logo.png" alt="" width="25">
        </div> -->

        <div class="col-sm-12 mt-5">
            <img src="/assets/JC_Logo.png" alt="" width="75" class="btn-secondary hvr-grow" type="button" routerLink="/homePage"
                routerLinkActive="active">

        </div>
        
        <div class="col-sm-6 mt-4">
            <img src="/assets/icons/user-solid.svg" class="icon" alt="" width="25">
        </div>
        <div class="col-sm-6 mt-4">
                
            <button type="button" style="background-color:#186B75" class="btn btn-secondary hvr-forward" routerLink="/aboutPage"
                routerLinkActive="active">about</button>
        </div>
       

        

        <div class="col-sm-6 mt-3">
            <img src="/assets/icons/archive-solid.svg" class="icon" alt="" width="25">
        </div>
        <div class="col-sm-6 mt-3">

            <button type="button" style="background-color:#13535B" class="btn btn-secondary hvr-forward"
                routerLink="/portfolioPage" routerLinkActive="active">portfolio</button>
        </div>

        <div class="col-sm-6 mt-3">
            <img src="/assets/icons/envelope-solid.svg"  class="icon" alt="" width="25">
        </div>
        <div class="col-sm-6 mt-3">

            <button type="button" style="background-color:#0E3C41" class="btn btn-secondary hvr-forward" routerLink="/contactPage"
                routerLinkActive="active">contact</button>
        </div>
       

        <div class="col-sm-6 mt-3">
            <img src="/assets/icons/file-solid.svg" class="icon" alt="" width="25">
        </div>
        <div class="col-sm-6 mt-3">

            <button type="button" style="background-color:#082427" class="btn btn-secondary hvr-forward" routerLink="/resumePage"
                routerLinkActive="active">resume</button>
        </div>
      
    </div>
</div>

<!-- <nav>
    <ul>
        <li class="mt-2" routerLink="/homePage" routerLinkActive="active"><span>home</span></li>
        <li class="mt-2" routerLink="/aboutPage" routerLinkActive="active"><span>about</span></li>
        <li class="mt-2" routerLink="/portfolioPage" routerLinkActive="active"><span>portfolio</span></li>
        <li class="mt-2" routerLink="/contactPage" routerLinkActive="active"><span>contact</span></li>
        <li class="mt-2" routerLink="/resumePage" routerLinkActive="active"><span>resume</span></li>
    </ul>
</nav> -->