<div class="container">
    <div class="row" style="text-align:center">
        <div class="col-sm-12">
            <img src="assets/Jose_CabralCircle.jpg" alt="Avatar" class="avatar">
        </div>
       <div class="col-sm-12">
           <h2>Jose Cabral</h2>
           <h5>Full Stack Developer</h5>
       </div>
       <hr class="new1">
        <div class="col-sm-12 mt-5">
            <button type="button" class="btn btn-primary" routerLink="/homePage" routerLinkActive="active">home</button>
        </div>
        <div class="col-sm-12 mt-3">
            <button type="button" class="btn btn-secondary" routerLink="/aboutPage"
                routerLinkActive="active">about</button>
        </div>
        <div class="col-sm-12 mt-3">
            <button type="button" class="btn btn-success" routerLink="/portfolioPage"
                routerLinkActive="active">portfolio</button>
        </div>
        <div class="col-sm-12 mt-3">
            <button type="button" class="btn btn-primary" routerLink="/contactPage"
                routerLinkActive="active">contact</button>
        </div>
        <div class="col-sm-12 mt-3">
            <button type="button" class="btn btn-primary" routerLink="/resumePage"
                routerLinkActive="active">resume</button>
        </div>
    </div>
</div>

<nav>
    <ul>
      <li routerLink="/homePage" routerLinkActive="active"><span>home</span></li>
      <li routerLink="/aboutPage"
      routerLinkActive="active"><span>about</span></li>
      <li routerLink="/portfolioPage"
      routerLinkActive="active"><span>portfolio</span></li>
      <li routerLink="/contactPage"
      routerLinkActive="active"><span>contact</span></li>
      <li routerLink="/resumePage"
      routerLinkActive="active"><span>resume</span></li>
    </ul>
  </nav>
