<div id="container">
    <div class="photobanner">
        <img class="first" src="assets/html.png" alt="" width=75>
        <img src="assets/css3.png" alt="" width=65>
        <img src="assets/js.png" alt="" width=75>
        <img src="assets/bootstrap.jpg" alt="" width=75>
        <img src="assets/Angular.png" alt="" width=75>
        <img src="assets/ts.png" alt="" width=75>
        <img src="assets/electron.png" alt="" width=78>
        <img src="assets/ionic.png" alt="" width=120>
        <img src="assets/SQL.png" alt="" width=75>
        <img src="assets/html.png" alt="" width=75>
        <img src="assets/css3.png" alt="" width=65>
        <img src="assets/js.png" alt="" width=75>
        <img src="assets/bootstrap.jpg" alt="" width=75>
        <img src="assets/Angular.png" alt="" width=75>
        <img src="assets/ts.png" alt="" width=75>
        <img src="assets/electron.png" alt="" width=78>
        <img src="assets/ionic.png" alt="" width=120>
        <img src="assets/SQL.png" alt="" width=75>

       
    </div>
</div>

