<div id="container">
    <div class="photobanner">
        <img class="first" src="assets/html.png" alt="" width=70>
        <img src="assets/css3.png" alt="" width=60>
        <img src="assets/js.png" alt="" width=70>
        <img src="assets/bootstrap.jpg" alt="" width=70>
        <img src="assets/Angular.png" alt="" width=70>
        <img src="assets/ts.png" alt="" width=66>
        <img src="assets/electron.png" alt="" width=70>
        <img src="assets/ionic.png" alt="" width=120>
        <img src="assets/sql.png" alt="" width=70>
        <img src="assets/html.png" alt="" width=70>
        <img src="assets/css3.png" alt="" width=60>
        <img src="assets/js.png" alt="" width=70>
        <img src="assets/bootstrap.jpg" alt="" width=70>
        <img src="assets/Angular.png" alt="" width=70>
        <img src="assets/ts.png" alt="" width=66>
        <img src="assets/electron.png" alt="" width=70>
        <img src="assets/ionic.png" alt="" width=120>
        <img src="assets/sql.png" alt="" width=70>

       
    </div>
</div>

