<div class="container-fluid containerHeading">
    <div class="col-12">
        <h1 class="">contact</h1>
    </div>
</div>

<div class="container-fluid containerBody">
    <form action="/action_page.php">
        <div class="row">
            <div class="col-12 text-align:center mt-4">
                <h4>We'd love to hear from you!</h4>
            </div>
        </div>
        <div class="row input-container">
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <input type="text" required />
                    <label>Name</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                    <input type="text" required />
                    <label>Email</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                    <input type="text" required />
                    <label>Phone Number</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <textarea required></textarea>
                    <label>Message</label>
                </div>
            </div>
            <div class="col-xs-12 mt-2">
                <div class="btn-lrg submit-btn">Send Message</div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid containerBottom">
    <div class="col-12">
        <h1 class="h1Bottom"></h1>
    </div>
</div>