<div class="container-fluid containerHeading">
    <div class="col-12">
        <h1 class="">about</h1>
    </div>
</div>
<div class="container-fluid containerBody">
    <div class="col-sm-12">
        <h3>Hello, My name is <b>Jose Cabral</b>.
            I'm a full-stack web developer.
        </h3>

        <h5 class="h5style">I'm a mission-driven full-stack web developer with years of professional experience. I'm interested in all kinds
            of visual communication, but my major focus is on designing front-end, and back-end applications. I also
            have skills in other fields like website development, and I have extensive knowledge in the logistics
            industry and in the civil and construction materials and testing field. <br><br>
            I’ve always sought out opportunities and challenges that are meaningful to me. Although my professional path
            has taken many twists and turns — from quality control engineer, to controller, to entrepreneur, to software
            developer, — I've never stopped engaging my passion to help others by solving problems and maximizing their
            potential. <br><br>
            As a full-stack web developer, I enjoy using my obsessive attention to detail, my unequivocal love for create
            and implement ideas, and my mission-driven work ethic to literally change the world. That's why I’m excited
            to make a big impact in building dream applications ... not because they are easy, but because they are hard.
        </h5>
    </div>
</div>

<div class="container-fluid containerBottom mt-2">
    <div class="col-12">
        <h1 class="h1Bottom">skills</h1>
    </div>
</div>

<app-banner></app-banner>