

<div class="container">
    <div class="row" style="text-align:center">
        <div class="col-sm-12">
            <img src="assets/Jose_CabralCircle.jpg" alt="Avatar" class="avatar">
        </div>
        <div class="nav-link col-sm-12">
            <h2>Jose Cabral</h2>
            <h5>Full Stack Developer</h5>
        </div>
        <hr>
        <!-- Home (logo) buttom -->
        <div class=" nav-link col-sm-12 mt-5">
            <img src="/assets/JC_Logo.png" alt="Jose Cabral" width="75" class="btn-secondary hvr-grow" type="button"
                routerLink="/homePage" routerLinkActive="active">
        </div>
        <!-- About buttom -->
        <div class="nav-link col-12 mt-4">
            <button class="btn btn-secondary hvr-forward icon" style="background-color:#4698A2" routerLink="/aboutPage"
                routerLinkActive="active"><i class="fa fa-user fa-lg"></i> about</button>
        </div>

        <!-- Portfolio buttom -->
        <div class="nav-link col-12 mt-3">
            <button class="btn btn-secondary hvr-forward icon" style="background-color:#1D828E"
                routerLink="/portfolioPage" routerLinkActive="active"><i class="fa fa-archive fa-lg"></i>
                portfolio</button>
        </div>

        <!-- Contact buttom -->
        <div class="nav-link col-12 mt-3">
            <button class="btn btn-secondary hvr-forward icon" style="background-color:#186B75"
                routerLink="/contactPage" routerLinkActive="active"><i class="fa fa-envelope fa-lg"></i>
                contact</button>
        </div>

        <!-- Resume buttom -->
        <div class="nav-link col-12 mt-3">
            <button class="btn btn-secondary hvr-forward icon" style="background-color:#13535B" routerLink="/resumePage"
                routerLinkActive="active"><i class="fa fa-file fa-lg"></i> resume</button>
        </div>
    </div>
</div>
