<div class="container-fluid containerHeading">
<div class="col-12">
    <h1 class="">resume</h1>
</div>
</div>

<div class="container-fluid containerBody">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vQN484wlmDxPhXJvBYIcmIT7SqS_I__PjKmHRJHywFDj0WfFnI_M2tMIFplc38RRw/pub?embedded=true"  width="100%"  frameborder="0" ></iframe>
</div>

<div class="container-fluid containerBottom mt-2">

    <div class="col-12">
        <h1 class="h1Bottom">skills</h1>
    </div>
</div>


<app-banner></app-banner>